<div id="<%= dom_id thermostat %>" class="ui items">
  <div class="item">
    <div class="content">
      <a class="header"><%= thermostat.name %></a>
      <div class="description">
        <div class="ui grid">
          <div class="six wide column">
            <div class="ui horizontal large statistic">
              <div class="value">
                <%= thermostat.temperature.value %>
              </div>
              <div class="label">
                <%= thermostat.temperature.scale %>
              </div>
            </div>
          </div>
          <div class="eight wide column">
            <%= form_for(thermostat, remote: true, authenticity_token: true, class: 'ui form', data: { partial_id: dom_id(thermostat) }) do |f| %>
              <div class="inline field">
                <div class="ui toggle checkbox" data-behaviour='submit-on-check'>
                  <%= f.check_box :enabled %>
                  <%= f.label 'Status' %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="extra">
        <i class="green check icon"></i>
        online - 5 minutes ago
      </div>
    </div>
  </div>
</div>
