<div id="<%= dom_id thermostat %>">
  <div class="ui top attached secondary menu">
    <div class="header item"><%= thermostat.name %></div>
    <div class="right menu">
      <div class="item">
        <i class="options icon"></i>
      </div>
    </div>
  </div>
  <div class="ui bottom attached segment">
    <div class="ui grid">
      <div class="six wide column">
        <div class="ui horizontal large statistic">
          <div class="value">
            <%= thermostat.temperature.value %>
          </div>
          <div class="label">
            <%= thermostat.temperature.scale %>
          </div>
        </div>
      </div>
      <div class="eight wide column">
        <%= form_for(thermostat, remote: true, authenticity_token: true, class: 'ui form', data: { partial_id: dom_id(thermostat) }) do |f| %>
          <div class="inline field">
            <div class="ui toggle checkbox" data-behaviour='submit-on-check'>
              <%= f.check_box :enabled %>
              <%= f.label 'Status' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
