<header>
  <div class="ui top fixed menu <%= 'large' if current_user %>">
    <%= link_to 'Kengai', root_path, class: 'header item' %>
    <div class="right menu">
      <% if current_user %>
        <div class="ui dropdown item button">
          <i class="settings icon"></i>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="header"><%= current_user.email %></div>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'item' %>
          </div>
        </div>
      <% else %>
        <div class="item">
          <%= link_to 'Sign up', new_user_registration_path, class: 'ui primary button' %>
        </div>
        <div class="item">
          <%= link_to 'Sign in', new_user_session_path, class: 'ui button' %>
        </div>
      <% end %>
    </div>
  </div>
</header>
